{"CMSIP": "168.63.241.212", 
"APIURL_Live": "http://moovahapp.net/Live/LiveAPI/",
"APIURL_Testing": "http://moovahapp.net/Testing/TestingAPI/",
"APIURL_LiveCom": "http://moovahapp.com/Live/LiveAPI/",
"APIURL_TestingCom": "http://moovahapp.com/Testing/TestingAPI/",
"APIURL_LiveOld": "http://168.63.241.212/API/",  
"DatabaseFilePath": "/home/pi/pythonlogger.py/data.db", 
"BOXIP": "192.168.5.1", 
"AccessLogFilePath": "/var/log/squid3/access.log", 
"SyncDBFilePath_Live": "/media/usb0/moovah/Live/AppDB/khooloo.sqlite",  
"SyncDBFilePath_Testing": "/media/usb0/moovah/Testing/AppDB/khooloo.sqlite",  
"Mode": "2"}
